<div class="square">
    
    <form action="{$gvar.l_global}opciones.php?cod" method="get">

     <b>Bienvenido</b><br/><br/>

        <b>Ingrese el codigo: </b><input type='text' name='cod'/><br/>
        <input type='submit' value='Enviar'>
        
    </form>
    
            
            </div>
        
  