<div class="square">
    
    <form action="{$gvar.l_global}listar_jugador.php?option=select" method="post">
    <table border="0" width="100%" cellpadding="0" cellspacing="10">
        <tr>
            <td>
                
                
        <b>Ingrese el codigo del: </b><input type='text' name='codigo'/><br/>
        <input type='submit' value='Enviar'>
            </td>
        </tr>
        {if $jugador neq 0}
            {section loop= $equipo->components['jugador']['e_j'] name=i}
                <tr>
                    <td>
                        <b>Cédula:</b> {$equipo->components['equipo']['e_j'][i]->get('cedula')}<br />
                        <b>Nombre:</b> {$equipo->components['equipo']['e_j'][i]->get('nombre')}<br />
                        <b>Posicion:</b> {$equipo->components['equipo']['e_j'][i]->get('posicion')}
                    </td>
                </tr>
            {/section}
        {/if}
    </table>
    
    </form>
</div>