<div class="square">
<form action="{$gvar.l_global}registrar_jugador.php?option=add" method="post">
<b>Agregar un jugador</b><br /><br />
<b>Ingrese la cédula:</b><input type="text" name="cedula" /><br />
<b>Ingrese el nombre:</b> <input type="text" name="nombre" /><br />
<b>Ingrese la posición:</b> <input type="text" name="posicion" /><br />
<b>Ingrese el codigo del equipo al que pertenece</b> <input type="text" name="equipo" /><br />
<input class="btn btn-primary" type="submit" value="Registrar" />
</form>
</div>